In [1]:
#Q1
data = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
sorted_data = sorted(data, key=lambda x: x[1])
for item in sorted_data:
    print(item)

('Virat Kohli', 24936)
('Jack Kallis', 25534)
('Ricky Ponting', 27483)
('Sachin Tendulkar', 34357)

In [3]:
#Q2
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
squares = list(map(lambda x: x ** 2, numbers))
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [4]:
#Q3
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
string_tuple = tuple(map(lambda x: str(x), numbers))
print(string_tuple)

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [9]:
#Q4
from functools import reduce
numbers = list(range(1, 26))
def multiply(x, y):
    return x * y
product = reduce(multiply, numbers)
print(product)

15511210043330985984000000

In [11]:
#Q5
numbers = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
def is_divisible_by_2_and_3(number):
    return number % 2 == 0 and number % 3 == 0
filtered_numbers = list(filter(is_divisible_by_2_and_3, numbers))
print(filtered_numbers)

[6, 60, 90, 120]

In [12]:
#Q6
strings = ['python', 'php', 'aba', 'radar', 'level']
is_palindrome = lambda s: s == s[::-1]
palindromes = list(filter(is_palindrome, strings))
print(palindromes)

['php', 'aba', 'radar', 'level']